
@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Latest News</h3>

<div>
    <u>12-02-2017</u> - Update: Renault Clio Estate(EWAR) added to ECMR|EDMR column.
</div>
<div>
    <u>07-02-2017</u> - Location added: Gdansk (Poland).
</div>

<div>
    <u>07-02-2017</u> - Location added: Krakow (Poland).
</div>


