body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
*{
  border-radius: 0 !important;
}

.btn-xlarge {
    padding: 15px 28px;
    font-size: 22px;
    font: bold;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

input.form-fixer {
    padding: 5px;
}
.field-validation-error {
    color: #cc0000
}

.input-xs { /*augintiniai*/
    padding:5px;
}
body {
    background: rgba(0, 0, 0, 0) url("http://greenmotion.com/images/tracks.png") no-repeat scroll 100% top / cover ;
    color: #fff;
    height: auto;
    padding: 153px;
    position: relative;
    vertical-align:baseline;
    float:right;
    background-position: bottom;
}
.form-group label{
    font-family: sans-serif;
    color: #fff;
}